main {
  display: flex;
  place-content: center;
  height: 100%;
  width: 100%;
}

.board {
  width: 30vh;
  height: 30vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

.cell {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;

}

.cell-content {
  font-size: 20px;
}