main {
  place-items: center;
  display: flex;
  flex-direction: column;
  place-content: center;
  height: 100%;
  width: 100%;
}

h1 {
  height: auto;
  margin-bottom: 30px;
}

.board {
  width: 350px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
  justify-items: center;
  gap: 14px
}

.cell {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell-content {
  height: 100%;
  width: 100%;
  display: flex;
  border-radius: 10px;
  background-color: #504c4c;
  place-content: center;
  align-items: center;
  transition: all .2s ease-in-out; 
  font-size: 30px;
}

.cell :hover {
  transform: scale(1.1);
}

.turns {
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  gap: 20px;
}

.turn-indicator {
  margin-top: 40px;
  height: 100px;
  width: 100px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.turn-indicator p {
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  pointer-events: none;
  background-color: #111111;
  border-radius: 10px;
  display: flex;
  place-content: center;
  align-items: center;
}

.winner-section {
  position: absolute;
  height: 600px;
  width: 500px;
  background-color: #575757;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  border-radius: 20px;
  gap: 20px;
}

.winner-section h2 {
  height: fit-content;
  width: fit-content;
  background: none;
  color: #333131;
}

.winner-section header {
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  pointer-events: none;
}

.winner-section header .cell {
  background-color: transparent;
}

.winner-section header .cell .cell-content {
  background-color: #808080;
}