main {
  place-items: center;
  display: flex;
  flex-direction: column;
  place-content: center;
  height: 100%;
  width: 100%;
}

h1 {
  height: auto;
  margin-bottom: 30px;
}

.board {
  width: 350px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
  justify-items: center;
  gap: 14px
}

.cell {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.cell-content {
  height: fit-content;
  font-size: 30px;
}

.turns {
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  gap: 20px;
}

.turn-indicator {
  margin-top: 40px;
  height: 100px;
  width: 100px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.turn-indicator p {
  margin: 0;
  width: auto;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  place-content: center;
}

